.container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 1.5rem;
}

.imgContainer{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.img{
    width: 150px;
    height: 150px;
}

.description{
    font-size: 1rem;
}

.url{
    font-size: 1rem;
    margin-right: 1rem;
}

.code{
    font-size: 1rem;
}

.links{
    display: inline-block;
}