.subcontainer {
    margin: 0;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 4rem
  }

  .container {
    padding: 0 2rem;
  }
  
  
.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .header{
    margin: 0;
    font-size: 2rem;
  }
  
  .title,
  .description,
  .header {
    text-align: center;
  }

@media screen and (min-width:600px){
  .subcontainer{
    margin: 2rem;
    grid-template-columns: repeat(4, 1fr);    
  }
}